Welcome <%= @user.first_name %> to your homepage!  <%= link_to 'Sign Out', logout_path(current_user.id) %><br>

Add a book to your list of favorites:

<%= form_tag books_path do %>
	<%= label_tag 'Title: ' %>
    <%= text_field_tag :title, nil, :placeholder => "Title", :autofocus => true %>
    <%= label_tag 'Author: ' %>
    <%= text_field_tag :author, nil, :placeholder => "Author" %>
    <%= label_tag 'Rating: ' %>
    <%= number_field_tag :rating, nil, :in => 1...11 %>
    
    <%= button_tag "Add Book" %>
  <% end %>

Here is the list of your favorites:


<ul>
<% current_user.books.each do | book| %>
<li><%= book.title %> - <%= book.author %> (<%= book.rating %>) <%= link_to 'Remove', book_path(book.id), :method => :delete, :class => "delete" %></li>
<% end %>
</ul>
