<h4>join</h4>

  <%= form_for @user do |u| %>
    <%= u.text_field :first_name, :placeholder => "First name" %>
    <%= u.text_field :last_name, :placeholder => "Last name" %>
    <%= u.email_field :email, :placeholder => "Email" %>
    <%= u.password_field :password, :placeholder => "Password" %>
    <%= u.button "Create Account" %>
  <% end %>

 <h4>log in</h4>

  <%= form_tag sessions_path do %>
    <%= email_field_tag :email, nil, :placeholder => "Email", :autofocus => true %>
    <%= password_field_tag :password, nil, :placeholder => "Password" %>
    <%= button_tag "Sign In" %>
  <% end %>